/* * {
	border: blue 1px solid;
} */

#sliderWrapper {
	width: 60%;
	margin: 20px auto;
	position: relative;
}
#sliderWrapper figure {
	position: relative;
	margin: 0;
}
#sliderWrapper img {
	width: 100%;
}
#sliderWrapper figcaption {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	color: white;
	background: #00000080;
	padding: 15px;
}
#controller {
	text-align: center;
}
#controller .material-icons {
  color: white;
  text-shadow:  #E3231B 2px 2px, #E3231B 2px 1px, #E3231B 2px 0, #E3231B 2px -1px, #E3231B 2px -2px, #E3231B 1px -2px, #E3231B 0 -2px, #E3231B -1px -2px, #E3231B -2px -2px,  #E3231B -2px -1px, #E3231B -2px 0, #E3231B -2px 1px, #E3231B -2px 2px,  #E3231B -1px 2px, #E3231B 0 2px, #E3231B 1px 2px;
  background: #fff104;
	border: #F1AA3F 4px solid;
	border-radius: 50%;
	padding: 5px;
	margin: 5px;
	cursor: pointer;
}
#controller .material-icons:hover {
  transform: scale(1.1);
}

#app-wrapper {
  display: flex;
  padding: 20px;
}

fieldset {
	border-radius: 10px;
	box-shadow: 2px 2px rgba(173, 173, 173, 0.767);
	width: 300px;
	display: none;
	margin: 0 auto;
}
#canvas {
	border: double 5px black;
	display: none;
  margin: 15px auto;
  cursor: pointer;
}
img:focus-within {
	display: none;
}

#mapid{height:500px;width:60%;margin:auto;}
